
// Should you need to overwrite any of our SCSS code or need to add any custom code, We highly recommend that you add your code into this file, so whenever theme update is available and you update the theme, You will not lose your hard work :)

// Note for dark mode:
// Uncomment below code and change primary color code to set different primary(i.e. light color of your primary) color in dark mode only.

/*User CSS*/

[data-bs-theme="dark"] {
  --bs-primary: #1156df !important;
  --bs-primary-rgb: 42, 197, 245 !important;
  --bs-link-hover-color:#00256c !important;
  --bs-link-color:#4e4f50;
  --bs-link-color-rgb: 42, 197, 245 !important;
  --bs-link-hover-color-rgb: 6, 119, 153 !important;
  }
